<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NBA Player Stats (2010–2022)</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static\css\index.css">
</head>
<body>
  <header>
    <h1>NBA Player Stats (2010–2022)</h1>
  </header>

  <main>
    <div class="get-request-container">
      <div class="get-request-label">GET /get_player_stats?name=</div>
      <div class="search-container">
        <input type="text" id="playerInput" placeholder="Enter player name (e.g. LeBron James)" />
        <button onclick='fetchPlayerStats()'>Send</button>
      </div>
      <div class="request-url" id="requestUrl">
        <!-- Full GET request URL will go here -->
      </div>
    </div>

    <div id="playerInfo">
      <!-- Stat cards go here -->
    </div>
  </main>

  <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>
